.toolbar {
  height: 50px;
  display: flex;
  justify-content: space-around;
}

.toolbar a {
  flex: 1;
  color: #fff;
  text-decoration: none;
  margin: 0;
  padding: 0;
  line-height: 50px;
  text-align: center;
  background-color: #000;
}

.toolbar a:hover {
  opacity: 0.8;
}

.page-content {
  padding :20px;
  text-align: center
}